<table class="w-100">
  <tr class="user-card-count-record link-font-light">
    <td>
      <%= link_to followings_user_path(user) do %>
        <p class="user-card-record-count">
          <%= "#{user.followings.count}" %>
        </p>
        <p class="user-card-record-title">フォロワー</p>
      <% end %>
    </td>
    <td>
      <%= link_to followers_user_path(user) do %>
        <p class="user-card-record-count">
          <%= "#{user.followers.count}" %>
        </p>
        <p class="user-card-record-title">フォロー中</p>
      <% end %>
    </td>
    <td>
      <%= link_to user_path(user) do %>
        <p class="user-card-record-count">
          <%= "#{user.items.count}" %>
        </p>
        <p class="user-card-record-title">アイテム</p>
      <% end %>
    </td>
  </tr>
</table>