<!-- ユーザ情報を表示するサイドバー -->
<div class="card text-white bg-primary">
  <div class="card-header font-bold">
    <i class="fas fa-user m-0"> ユーザー情報</i>
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, fallback: "noimage.jpg", :class => "rounded-circle user-card-user-image" %>
        </td>
        <td>
          <h6 class="card-title ml-2 link-font-light">
            <%= link_to user.name, user_path(user) %>
          </h6>
          <div class="ml-2">
            <div id="follow-<%= user.id %>">
              <%= render 'relationships/follow', user: user, info_user: info_user %>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="card-text user-card-user-intro"><%= user.introduction %></p>
    <div class="float-right link-font-light">
    <% unless user.twitter_account.blank? %>
      <%= link_to user.twitter_account.to_s ,target: :_blank do %>
        <i class="fab fa-twitter mr-1"></i>
      <% end %>
    <% end %>
    <% unless user.instagram_account.blank? %>
      <%= link_to user.instagram_account.to_s ,target: :_blank do %>
        <i class="fab fa-instagram mr-1"></i>
      <% end %>
    <% end %>
    <% unless user.facebook_account.blank? %>
      <%= link_to user.facebook_account.to_s ,target: :_blank do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
    <% end %>
  </div>
  </div>
  <div class="card-body text-center">
    <div id="counter-<%= user.id %>">
      <%= render 'users/counter', user: info_user %>
    </div>
    <div class="text-right text-muted" style="font-size: 6px;">
      <% unless user.address == nil %>
        <div id='map' style="height: 200px;"></div>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
      <%= " #{user.address}" %><br>
      <%= "#{user.created_at.strftime("%Y年%m月%d日")}に登録" %>
    </div>
  </div>
  <% if user == current_user %>
  <ul class="list-group list-group-flush link-font-light text-center">
    <li class="list-group-item bg-primary">
      <%= link_to like_item_path(user) do %>
        <i class="fas fa-thumbs-up"> いいねしたガジェット
          <span class="badge badge-light badge-pill"><%= "#{user.liked_items.count}"%></span>
        </i>
      <% end %>
    </li>
    <li class="list-group-item bg-primary">
      <%= link_to edit_user_path(current_user) do %>
        <i class="fas fa-user-edit"> プロフィール編集</i>
      <% end %>
    </li>
    <li class="list-group-item bg-primary">
      <h6>
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-key"> パスワード変更</i>
      <% end %>
    </h6>
    </li>
    <li class="list-group-item bg-primary">
      <%= link_to destroy_user_session_path, method: :delete, :class => "nav-link" do %>
        <i class="fas fa-sign-out-alt"> ログアウト</i>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>


<script>
  function initMap(){
    let map
    let geocoder

    // geocoder初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 7,
    mapTypeId: 'terrain',
    mapTypeControl: false,
    zoomControl: false,
    fullscreenControl: false,
    streetViewControl: false
  });

  // 入力取得
  let inputAddress = '<%= user.address %>';

  // geocoding後mapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      // map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);
  　　 // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
    } else {
        // alert('Geocode was not successful for the following reason: ' + status);
        document.getElementById("map").style.display ="none";
      }
    });
  }
  </script>

   <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>