<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <table class="text-center">
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, fallback: "noimage.jpg", class: "rounded-circle user-card-user-image" %>
        </td>
        <td>
          <h6 class="card-title link-font-light" style="margin: auto; padding-left: 4px;">
            <%= link_to user.name, user_path(user) %>
          </h6>
          <% if user == current_user %>
            <span class="badge badge-success text-right" style="display: inline-block;">ログインユーザー</span>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="text-container user-card-user-intro" >
      <p class="user-card-intro-text"><%= user.introduction %></p>
    </div>
  </div>
  <div class="card-body" style="text-align: center; padding: 0 auto;">
    <div id="counter-<%= user.id %>">
      <%= render 'users/counter', user: user %>
    </div>
    <div class="text-muted text-center" style="font-size: 6px;">
      <i class="fas fa-map-marker-alt"></i><%= " #{user.address}" %><br>
    </div>
  </div>
  <div class="text-center" id="follow-<%= user.id %>">
    <%= render 'relationships/follow', user: user, info_user: info_user %>
  </div>
</div>

