<div class="row my-3">
  <div class="col-md-12 col-lg-3">
    <!-- md以上 -->
    <div class="d-md-block sticky">
      <%= render 'users/info', user: @user, info_user: @user %>
    </div>
    <!-- sm以下 -->
    <div class="d-none ">
      <%= render 'users/info', user: @user, info_user: @user %>
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
  	<div class="card text-white bg-info mb-3 sticky z-index-200">
      <div class="card-header">
        <span class="font-bold"><%= @user.name %></span> さんがフォロー中
      </div>
    </div>
      <div class="row" style="z-index: 100;">
        <% @user.followers.each do |user| %>
        <div class="col-lg-4 col-md-6 col-">
        <%= render 'users/user_card', user: user, info_user: @user %>
        </div>
        <% end %>
      </div>
      <%= paginate @items %>
  </div>
</div>