<div class="row">
  <div class="col-lg pl-0">
    <div class="parent-f">
    	<img src="<%= asset_path "monolog-logo-l.png" %>" class="children-f m-0 p-0 mw-100">
    	<h2 class="children-f-text m-0 p-0" style="color: white; font-weight: bold;">ガジェットを<br>ログしよう。</h2>
    	<div class="children-f-button">
	    	<%= link_to new_user_registration_path, class: "btn btn-success rounded-pill mr-1" do %>
   					<h5 class="m-1 px-2"><strong>新規登録</strong></h5>
   		  <% end %>
   		  <%= link_to new_user_session_path, class: "btn btn-info rounded-pill" do %>
   					<h5 class="m-1 px-2"><strong>ログイン</strong></h5>
   		  <% end %>
 			</div>
    </div>

  </div>
  <div class="col-lg" style="background-color: #559FC5">
    <div class="parent-s">
    	<img src="<%= asset_path "town-image.png" %>" class="children-s m-0 p-0" style="width: 100%;">
    </div>
  </div>
</div>

<div class="row">
  <div class="col p-0" style="background-color: #3D5477; height: 600px;">
  	<div class="ml-4 my-4" style="color: white;"><h4><strong>- About -</strong></h4></div>
    <table class="mt-5 text-center" style="width: 100%; color: white;">
    	<tr>
    		<td>
    			<h3>Buy</h3>
    		</td>
    		<td></td>
    		<td>
    			<h3>Log</h3>
    		</td>
    		<td></td>
    		<td>
    			<h3>Find</h3>
    		</td>
    	</tr>
    	<tr>
    		<td>
    			<img src="<%= asset_path "gadget-buy.png" %>" class="" style="width: 100%; max-width: 130px;">
    		</td>
    		<td><h1><i class="fas fa-angle-right"></i></h1></td>
    		<td>
    			<img src="<%= asset_path "gadget-log.png" %>" class="" style="width: 100%; max-width: 130px;">
    		</td>
    		<td><h1><i class="fas fa-angle-right"></i></h1></td>
    		<td>
    			<img src="<%= asset_path "gadget-find.png" %>" class="" style="width: 100%; max-width: 130px;">
    		</td>
    	</tr>
    </table>
    <br>
    <div class="mt-4 mx-5" style="color: white;">
    	<p>
    		新しいガジェットを買ったらmonologへ登録。使っていて気づいたことはログに書き残しておきましょう。 いつどんなガジェットを使っていたのかのログを残すことで、 これからのあなたの買い物と誰かの買い物の手助けになります。 更に、使い勝手のレビューや工夫のある使い方を書き残すことで、購入を検討している人の役に立ちます。 困りごとを書けは誰かが解決策を教えてくれるかもしれませんね。  
    		<br><br>
    		<h5><strong>－ さぁ、モノコミュニティをはじめましょう。</strong></h5>
    	</p>
    </div>
  </div>
</div>


<div class="row">
	<div class="col-lg p-0" style="background-color: #559FC5; height: 650px; padding: 30px;">
	  <div class="ml-4 my-4" style="color: white;"><h4><strong>- System -</strong></h4></div>
	  	<div class="text-center">
	   		<img src="<%= asset_path "system-img.png" %>" class="" style="max-height: 80%; max-width: 80%; object-fit: contain;">
	   	</div>
	  </div>
	 	<div class="col-lg  p-0 parent-t mx-auto" style="background-color: #3D5477; height: 650px;">
	 		<img src="<%= asset_path "monolog-logo-l.png" %>" class="m-0 p-0" style="width: 100%;">
	 	<div class="mx-auto my-3" style="color: white; font-weight: bold;">
	 		<h1><strong>を</strong></h1>
	 	</div><br>
	 	<div class="children-t-button mt-3">
	 		<%= link_to new_user_registration_path, class: "btn 	btn-success rounded-pill" do %>
	 			<h2 class="m-2 px-3"><strong>はじめる</strong></h2>
	 		<% end %>
	 	</div>
	 	<div class="children-t">
	  	<img src="<%= asset_path "about-deco.png" %>" class="mw-100">
	  </div>
	</div>
</div>

