<div class="row mx-auto my-3">
  <!-- ユーザー管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">ユーザー管理</div>
      <div class="card-body">
        <h4 class="card-title">ユーザ数：
          <%= @users_count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p></p>
        </li>
      </ul>
      <div class="card-footer text-muted">
        <p>最新登録日：
          <%= @recent_user_create %>
        </p>
        <p>最終更新日：
          <%= @recent_user_create %>
        </p>
      </div>
    </div>
  </div>
  <!-- カテゴリー管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">カテゴリー管理</div>
      <div class="card-body">
        <h4 class="card-title">カテゴリー数：
          <%= @categories_count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to "カテゴリー管理画面へ", categories_path %>
        </li>
        <div class="card-footer text-muted">
          <p>最新登録日：
            <%= @recent_category_create %>
          </p>
          <p>最終更新日：
            <%= @recent_category_create %>
          </p>
        </div>
      </ul>
    </div>
  </div>
  <!-- ガジェット管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">ユーザー管理</div>
      <div class="card-body">
        <h4 class="card-title">ガジェット数：
          <%= @items_count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p></p>
        </li>
      </ul>
      <div class="card-footer text-muted">
        <p>最新登録日：
          <%= @recent_item_create %>
        </p>
        <p>最終更新日：
          <%= @recent_item_update %>
        </p>
      </div>
    </div>
  </div>
</div>