<div class="row mx-auto my-3">
  <!-- ユーザー管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">ユーザー管理</div>
      <div class="card-body">
        <h4 class="card-title">ユーザ数：
          <%= @users.count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p></p>
        </li>
      </ul>
      <div class="card-footer text-muted">
        <p>最新登録日：
          <%= @users.order(created_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </p>
        <p>最終更新日：
          <%= @users.order(updated_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </p>
      </div>
    </div>
  </div>
  <!-- カテゴリー管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">カテゴリー管理</div>
      <div class="card-body">
        <h4 class="card-title">カテゴリー数：
          <%= @categories.count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to "カテゴリー管理画面へ", categories_path %>
        </li>
        <div class="card-footer text-muted">
          <p>最新登録日：
            <%= @categories.order(created_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </p>
          <p>最終更新日：
            <%= @categories.order(updated_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
          </p>
        </div>
      </ul>
    </div>
  </div>
  <!-- ガジェット管理 -->
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">ユーザー管理</div>
      <div class="card-body">
        <h4 class="card-title">ガジェット数：
          <%= @items.count %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p></p>
        </li>
      </ul>
      <div class="card-footer text-muted">
        <p>最新登録日：
          <%= @items.order(created_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </p>
        <p>最終更新日：
          <%= @items.order(updated_at: "DESC").first.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </p>
      </div>
    </div>
  </div>
</div>