<div class="card mb-3">
    <div class="card-body link-font-dark">
      <h5 class="card-title text-center font-bold">
        <%= link_to item.name, item_path(item) %>
      </h5>
      <div class="card-subtitle text-muted text-center">
        <span class="badge badge-secondary">
          <%= item.category.name %>
        </span>
      </div>
    </div>
    <div style="width: 100%; height: 200px; text-align: center;">
      <%= attachment_image_tag item, :image, fallback: "noimage.jpg", size:'150x150', class: "item-card-item-image" %>
    </div>
    <div style="text-align: center;">
      <!--星評価-->
      <div id="star-rate-<%= item.id %>"></div>
      <script>
        $('#star-rate-<%= item.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= item.score %>,
    });
    </script>
      <!--/星評価-->
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= item.infomation.truncate(70) %>
      </p>
    </div>
    <ul class="list-group list-group-flush link-font-dark">
      <li class="list-group-item">
        <%= render 'likes/like_form', item: item %>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>
              <%= attachment_image_tag item.user, :profile_image, fallback: "noimage.jpg", size:'150x150', class: "rounded-circle item-card-user-image mr-2" %>
            </td>
            <td>
              <span class="item-card-username"><strong>
              <%= link_to user_path(item.user) do %>
                 <i class="fas fa-user"><%= item.user.name %></i>
              <% end %>
            </strong>
              </span>
              <%= render 'users/follow', user: item.user %>
            </td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <i class="fas fa-pen-alt">
          <%= item.logs.count.to_s %>件</i><br>
      <% if item.logs == [] %>
        <p>まだログがありません。</p>
      <% else %>
        <span class="badge badge-danger">直近のログ</span><br>
        <%= item.logs.first.title %>
        <span class="badge badge-light">
          <%= "#{item.logs.first.created_at.strftime("%Y年%m月%d日 %H時%M分")}"  %>
        </span>
      <% end %>
    </li>
  </ul>
</div>
