<div class="my-3">
  <div class="row">
    <div class="col-md-12 link-font-dark mx-auto">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center font-bold">
            <%= @item.name %>
          </h3>
          <h6 class="card-subtitle text-muted text-center">
            <span class="badge badge-secondary">
              <%= @item.category.name %>
            </span>
          </h6>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <div class="text-center w-100">
                <%= attachment_image_tag @item, :image, fallback: "noimage.jpg", class: "item-show-item-image" %>
              </div>
              <div class="text-center mt-2">
                <!--星評価-->
              <div id="star-rate-<%= @item.id %>"></div>
              <!--/星評価-->
              </div>
              <div class="text-center mt-2">
                <div class="" style="display: inline-block;" id="like-<%= @item.id %>">
                  <%= render 'likes/like_form', item: @item %>
                </div>
                <div class="ml-2" style="display: inline-block;">
                  <i class="fas fa-pencil-alt"><span class="font-bold"> <%= @item.logs.count.to_s %></span></i>
                </div>
                <div class="ml-2" style="display: inline-block;">
                  <i class="far fa-comment"><span class="font-bold"> <%= @item.comments.count %></span></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text"><%= @item.infomation %></p>
              </li>
              <li class="list-group-item">
                <p><strong>メーカー</strong><%= "　#{@item.maker}" %></p>
                <p><strong>購入価格</strong><%= "　¥#{@item.price.to_s(:delimited)}" %></p>
                <p><strong>購入場所</strong><%= "　#{@item.place}" %></p>
                <% unless @item.external_page.blank? %>
                  <p><%= link_to "製品ページリンク",  @item.external_page, class: "btn btn-primary btn-sm text-white float-right", target: :_blank %></p>
                <% end %>
              </li>
              <li class="list-group-item">
                <%= attachment_image_tag @item.user, :profile_image, fallback: "noimage.jpg", size:'150x150', class: "rounded-circle item-card-user-image mr-3", style: "display: inline-block;" %>
                <h5 class="font-bold" style="display: inline-block;">
                  <%= link_to @item.user.name, user_path(@item.user) %>
                </h5>
                <div id="follow-<%= @user.id %>" class="ml-2" style="display: inline-block;">
                  <%= render 'relationships/follow', user: @user, info_user: @user %>
                </div>
              </li>
              <li class="list-group-item text-right">
                <span class="badge badge-light">
                  <%= "投稿日：#{@item.created_at.strftime("%Y年%m月%d日 %H時%M分")} （#{time_ago_in_words(@item.created_at)}前）" %>
                </span>
                <% unless @item.created_at == @item.updated_at %>
                  <br>
                  <span class="badge badge-light">
                    <%= "更新日：#{@item.updated_at.strftime("%Y年%m月%d日 %H時%M分")} （#{time_ago_in_words(@item.updated_at)}前）" %>
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-md-12 text-right">
            <% if @item.user == current_user %>
              <div class="card-body">
                <%= link_to "編集", edit_item_path(@item), class: "btn btn-primary text-white" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto" id="log-top">
      <% @logs.each do |log| %>
        <div class="card my-3">
          <div class="card-body">
            <h4 class="card-title"><strong><i class="fas fa-pencil-alt"> <%= log.title %></i></strong></h4>
            <p class="card-text">
              <%= log.body %>
            </p>
            <% if log.image %>
              <div class="text-center" style="height: 300px;">
                <%= attachment_image_tag log, :image, class: "log-image" %>
              </div>
            <% end %>
            <div class="card-subtitle text-muted text-right mt-3">
              <% if log.from == "system" %>
                <span class="badge badge-danger">システムによる投稿</span>
              <% end %>
              <span class="badge badge-light">
                <%= "投稿日：#{log.created_at.strftime("%Y年%m月%d日 %H時%M分")} （#{time_ago_in_words(log.created_at)}前）" %>
              </span>
              <% unless log.created_at == log.updated_at %>
                <br>
                <span class="badge badge-light">
                <%= "更新日：#{log.updated_at.strftime("%Y年%m月%d日 %H時%M分")} （#{time_ago_in_words(log.updated_at)}前）" %>
                </span>
              <% end %>
            </div>
            <% if @item.user == current_user && log.from == "user" %>
              <div>
                <br>
                <div class="text-right">
                  <%= link_to "編集", edit_log_path(log), :class => "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <div id=comment-<%= log.id %> class="card-body">
            <%= render 'comments/form', comment: @comment, log: log %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @item.user == current_user %>
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="list-group">
          <div class="list-group-item list-group-item-action active">ログ新規投稿</div>
          <div class="list-group-item">
            <%= form_with(model: @log, local: true) do |f| %>
              <form>
                <fieldset>
                  <div class="form-group">
                    <label for="">タイトル</label>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label for="">本文</label>
                    <%= f.text_area :body, rows: 7, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label for="">画像</label>
                    <%= f.attachment_field :image, class: "form-control-file" %>
                  </div>
                  <div class="form-group text-right">
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.submit "投稿", :class => "btn btn-primary" %>
                  </div>
                </fieldset>
              </form>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  $('#star-rate-<%= @item.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    half: true,
    readOnly: true,
    score: <%= @item.score %>,
  });
</script>