<p>log/edit</p>
<div class="row">
  <div class="col-md-12">
    <%= form_with(model: @log, local: true) do |f| %>
    <table>
      <tr>
        <td>
          <label>タイトル</label>
        </td>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <td>
          <label>画像</label>
        </td>
        <td>
          <%= f.attachment_field :image %>
        </td>
      </tr>
      <tr>
        <td>
          <label>本文</label>
        </td>
        <td>
          <%= f.text_area :body %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>