<!DOCTYPE html>
<html>

<head>
  <title>monolog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if false %>
    <link rel="icon" href="<%= asset_path "favicon.ico" %>">
  <% end %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to top_path, class: "navbar-brand p-0" do %>
                <img src="<%= asset_path "monolog-logo.png" %>", style="width: 130px; padding: 0;" %>
                <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <!-- Userサインイン時のヘッダ表示項目 -->
              <li class="nav-item">
                <%= link_to new_item_path, class: "nav-link" do %>
                <i class="fas fa-plus-circle"> アイテム登録</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to search_items_path, class: "nav-link" do %>
                  <i class="fas fa-search">ガジェット検索</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to search_users_path, class: "nav-link" do %>
                  <i class="fas fa-search">ユーザー検索</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user),class: "nav-link" do %>
                <i class="fas fa-user"> <%= "#{current_user.name}さん" %></i>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <!-- Adminログイン時のヘッダ表示項目 -->
              <li class="nav-item">
                <%= link_to manage_path, class: "nav-link" do %>
                  <i class="fas fa-tachometer-alt">管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% else %>
              <!-- UserもAdmin もログインしていない時のヘッダ表示項目 -->
              <li class="nav-item">
                <%= link_to root_path, class: "nav-link" do %>
                  <i class="fas fa-info-circle">アバウト</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class="fas fa-sign-in-alt">ログイン</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class="fas fa-user-plus">新規登録</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Aboutページのみ -->
  <% if request.path == '/' %>
    <div style="background-color: #559FC5">
  <% end %>

  <!-- 共通 -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- Aboutページのみ -->
  <% if request.path == '/' %>
    <footer class="text-center" style="height: 40px; background-color: #2C3E50">
      <i class="far fa-copyright text-white font-bold" style="line-height: 40px;"> akinori</i>
    </footer>
    </div>
  <% end %>

  <div class="mb-5 mr-3 z-index-1000" id="page_top"><a href="#"></a></div>

</body>

</html>

<script>
jQuery(function() {
    var pagetop = $('#page_top');
    pagetop.hide();
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            pagetop.fadeIn();
        } else {
            pagetop.fadeOut();
        }
    });
    pagetop.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});

</script>