<!DOCTYPE html>
<html>

<head>
  <title>monolog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to top_path, class: "navbar-brand p-0" do %>
                <img src="<%= asset_path "monolog-logo.png" %>", style="width: 130px; padding: 0;" %>
                <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user),class: "nav-link" do %>
                <i class="fas fa-user"> <%= "#{current_user.name}さん" %></i>
                <% end %>
              </li>
              <!-- <li class="nav-item"> -->
                <!-- <%= link_to "MyGadets", items_path, class: "nav-link" %> -->
              <!-- </li> -->
              <li class="nav-item">
                <%= link_to new_item_path, class: "nav-link" do %>
                <i class="fas fa-plus-circle"> アイテム登録</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to manage_path, class: "nav-link" do %>
                  <i class="fas fa-tachometer-alt">管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class="fas fa-sign-in-alt">ログイン</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class="fas fa-user-plus">新規登録</i>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in?  %>

          <%= search_form_for @search, url: items_path, class: "form-inline my-2 my-lg-0" do |f| %>
            <%= f.search_field :name_cont, class: "form-control mr-sm-2 mr-2 search-form", placeholder: "ガジェット検索" %>
            <div class="actions">
              <%= button_tag :type => "submit", :class =>"btn btn-secondary my-2 my-sm-0" do %>
                <i class="fa fa-search"></i>
                <% end %>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  <div class="mb-3 mr-3" id="page_top"><a href="#"></a></div>
</body>

</html>

<script>
jQuery(function() {
    var pagetop = $('#page_top');   
    pagetop.hide();
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {  //100pxスクロールしたら表示
            pagetop.fadeIn();
        } else {
            pagetop.fadeOut();
        }
    });
    pagetop.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500); //0.5秒かけてトップへ移動
        return false;
    });
});

</script>